<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTDR Adoption Application Form</title>
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
</head>
<body>

    <form id="home_information" action="/form/page2" method="post">
    <h2>CTDR Adoption Application</h2>

    <fieldset>
      <legend>Home Information</legend>

      <p>Type of Dwelling:<span class="required">*</span></p>
      <input type="radio" id="house" name="dwelling" value="house" {% if page2_data.get('dwelling') == 'house' %}checked{% endif %} checked>
      <label for="house">House</label>

      <input type="radio" id="apartment" name="dwelling" value="apartment" {% if page2_data.get('dwelling') == 'apartment' %}checked{% endif %}>
      <label for="apartment">Apartment</label>

      <input type="radio" id="townhouse" name="dwelling" value="townhouse" {% if page2_data.get('dwelling') == 'townhouse' %}checked{% endif %}>
      <label for="townhouse">Townhouse</label><br><br>

      <label for="adults">Number of Adults in Household:</label>
      <input type="number" id="adults" name="adults" min="1" value="{{ page2_data.get('adults', '1') }}"><br><br>

      <label for="children">Number of Children in Household:</label>
      <input type="number" id="children" name="children" min="0" value="{{ page2_data.get('children', '0') }}"><br><br>

      <p>Do you have a fenced yard?</p>
      <input type="radio" id="fence_yes" name="fence" value="yes" {% if page2_data.get('fence') == 'yes' %}checked{% endif %}>
      <label for="fence_yes">Yes</label>

      <input type="radio" id="fence_no" name="fence" value="no" {% if page2_data.get('fence') == 'no' %}checked{% endif %} checked>
      <label for="fence_no">No</label><br><br>

      <label for="employer">Employer:</label>
      <input type="text" id="employer" name="employer" value="{{ page2_data.get('employer', '') }}"><br><br>
    </fieldset>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <button type="button" onclick="window.location.href='/form/page1'" style="margin-right: auto;">Back to Page 1</button>
      <button type="submit" id="submitButton" style="margin-left: auto;">Proceed to Page 3</button>
    </div>
  </form>

  <br>
  <div class="container" style="text-align: center; margin-bottom: 20px;">
    <button type="button" class="button" onclick="confirmClearAnswers()">Clear All Answers</button>
  </div>

<script src="../static/js/script-callFlask.js"></script>
</body>
</html>