<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTDR Adoption Application Form</title>
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
</head>
<body>

<form id="terms_and_conditions" action="/form/page5" method="POST">

    <h2>CTDR Adoption Application</h2>

<fieldset>
    <legend>Terms and Conditions</legend>
    <p>
      I certify that the information provided in this application is true and complete.
      I understand that providing false information may disqualify me from adopting a dog from CTDR.
    </p>
    <input type="checkbox" id="agreement" name="agreement" required>
    <label for="agreement">I Agree<span class="required">*</span></label><br><br>

    <label for="signature">Signature:<span class="required">*</span></label>
    <input type="text" id="signature" name="signature" required><br><br>

    <label for="date">Date:<span class="required">*</span></label>
    <input type="date" id="date" name="date" required><br><br>
</fieldset>

<div style="display: flex; justify-content: space-between; margin-top: 20px;">
    <button type="button" onclick="window.location.href='/form/page4'" style="margin-right: auto;">Back to Page 4</button>
    <button type="submit" id="submitButton" style="margin-left: auto;">REVIEW APPLICATION</button>
</div>

</form>

<br>
<div class="container" style="text-align: center; margin-bottom: 20px;">
    <button type="button" class="button" onclick="confirmClearAnswers()">Clear All Answers</button>
</div>

<script src="../static/js/script-callFlask.js"></script>
</body>
</html>

